@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Sen:wght@400;700;800&display=swap');
body {
    
    font-family: 'Sen', sans-serif;
    font-weight: 300
}

.height {
    height: 100vh
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 1px solid rgba(216, 216, 216, 0.69);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
    border-radius: 11px;
}
.search input:focus {
    box-shadow: none;
    border: 2px solid #CE0033;

}
 button[type = button].form-control:focus.btn:focus {
    outline: none;
    box-shadow: none;
    background-color: #CE0033;
  }

.search .fa-search,.fa-file-medical {
    position: absolute;
    top: 20px;
    left: 16px
    
}

.form-control::placeholder {
    
    font-size: 20px;
    padding-left: 5%;
    }
.text {
    color: #eee !important;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5%;
    height: 60px;
    text-indent: 25px;
    border: 1px solid rgba(216, 216, 216, 0.69);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
    border-radius: 11px;
  }
.color-red-simplon{
     background: #CE0033;
    
}
.barre{
    width: 95%;
}

.required::after{
    content: "*";
    color: red;
}
.filtre{
    padding-left: 10%;
}